@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

.appbar {
    color: #fff;
    padding: 10px 20px;
    font-size: 1.4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


body {
    background: #40434e;
    color: #444;
    margin: 0;
}

body * {
    font-family: "Poppins";
}

/* header */
header {
    text-align: center;
    background: #79c99e;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    max-width: 60px;
    transform: rotate(-10deg);
}

header h1 {
    margin: 0;
    font-size: 2em;
    padding-top: 25px;
    margin-left: 15px;
    color: #fff;
    transform: rotate(2deg);
}

/* task list */
.task-list {
    max-width: 580px;
    margin: 20px auto;
    color: #79c99e;
}

.task-mobile {
    margin: 20px auto;
    background: #BDD9BF;
    border-radius: 100px;
    color: #2E4052;
    font-size: 0.8em;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin: 12px auto;
}

.task-mobile h4 {
    width: 80%;
    line-break: anywhere;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-mobile .icons {
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    width: 80px;
    padding: 3px;
    justify-content: center;
    color: #5F5B6B;
    display: flex;
}

.task {
    padding: 6px 20px;
    background: #fff;
    margin-top: 14px;
    border-radius: 18px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task:hover {
    background: #BDD9BF;
}

.task h4 {
    color: #3a3335;
    font-size: .9em;
    width: 82%;
    line-break: anywhere;
}

.task .icons {
    padding-top: 5px;
    color: #3a3335;
    display: inline-block;
}

.task .icons {
    text-align: right;
}

.task i {
    font-size: 1.4em;
    margin-left: 6px;
    cursor: pointer;
    color: #bbb;
}

.task-mobile i.active {
    color: #C62E65;
}

.task i.active {
    color: #D81E5B;
}

.task-mobile i.task-completed {
    color: #79c99e;
}

.task i.task-completed {
    color: #79c99e;
}

.filter {
    width: 580px;
    margin: 20px auto;
    text-align: right;
}

.filter-mobile {
    text-align: center;
}

.filter-mobile button {
    display: inline-block;
    margin-left: 8px;
    padding: 6px 12px;
    border: 0;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 500;
}

.filter-mobile button.active {
    background: #79c99e;
    color: #fff;
}


.filter button {
    display: inline-block;
    margin-left: 8px;
    padding: 6px 12px;
    border: 0;
    border-radius: 100px;
    background: #e7e7e7;
    color: #555;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 500;
}

.filter button:hover {
    background: #d7d7d7;
}

.filter button.active {
    background: #79c99e;
    color: #fff;
}

.new-task-form {
    max-width: 600px;
    margin: 20px auto;
    background: #fff;
    padding: 12px;
    border-radius: 16px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    display: flex;
}

form {
    width: 580px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 6fr 1fr;
    gap: 10px;
}

form input {
    border: 0;
    padding: 6px 10px;
    font-size: 0.8em;
    color: #333;
    outline: none;
}

form button {
    width: 80px;
    display: flex;
    background: #79c99e;
    color: #fff;
    border: 0;
    cursor: pointer;
    padding: 5px;
    align-items: center;
    padding: 0 10px 0;
    border-radius: 100px;
    transition: background 0.3s ease;
}

form button:hover {
    background: #3c9372;
}

.loading {
    max-width: 580px;
    margin: 20px auto;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
}

.theme-switch {
    cursor: pointer;
}

.fab-add {
    position: absolute;
    bottom: 80px;
    right: 16px;
    width: 56px;
    height: 56px;
    background-color: #79c99e;
    color: white;
    border-radius: 12px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.fab-add:hover {
    background-color: #3c9372;
}

.task-counts {
    position: absolute;
    left: 16px;
    bottom: 84px;
    color: #fff;
    border-radius: 35px;
    background-color: #79c99e;
    padding: 6px 12px;
    justify-content: center;
    margin-top: 16px;
    margin-left: 4px;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.task-list-mobile {
    padding-top: 8px;
}

.refresh-btn {
    position: absolute;
    top: 20px;
    right: 16px;
}